[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/headless/Desktop/firefox.desktop]
row=2
col=0

[/headless/Desktop/chromium-browser.desktop]
row=3
col=0

[/headless/Desktop/YourKit.desktop]
row=0
col=1

[/]
row=0
col=0

[/headless]
row=1
col=0

